@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

#heading {
    margin: 0 auto;
    display: block;
}

body {
    font-family: 'Oxanium', cursive;
}

#calculator {
    width: 300px;
    background-color: grey;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: 4px black solid;
    box-shadow: 0 18px rgb(68, 67, 67);
}

#display {
    height: 50px;
    width: 250px;
    border: 3px black solid;
    background-color: #008000;
    margin: 10px auto;
    display: block;
    text-align: right;
    font-size: 42px;
}

table {
    margin: 10px auto;
}

td {
    width: 50px;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: rgb(143, 9, 9);
    border: 3px white solid;
    border-radius: 5px;
    box-shadow: 0 9px red;
    display: inline-block;
    margin: 5px;
    user-select: none;
}

#long {
    height: 82px;
    position: absolute;
}

td:hover {
    cursor: pointer;
}

td:active {
    background-color: green;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
  }